.star-rating {
    font-family: dashicons;
    .star {
        color: #607d8b;
        display: inline-block;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        height: 20px;
        line-height: 1;
        vertical-align: top;
        width: 20px;
        &-full:before {
            content: "\f155";
        }
        &-half:before {
            content: "\f459";
        }
        &-empty:before {
            content: "\f154";
        }
    }
}

/* Form */
span.star-rating-control {
    display: inline-block;
    margin: 0 0 10px 0;
}

.star-rating-control {
    div.star-rating {
        font-family: dashicons;
        font-size: 20px;
        width: 22px;
        display: inline-block;
        a {
            color: rgba(0,0,0,0);
            color: transparent;
            text-decoration: none;
            &:before {
                color: #689f38;
                content: "\f154";
            }
        }
        &.star-rating-hover {
            a:before {
                content: "\f155";
            }
        }
        &.star-rating-on {
            a:before {
                content: "\f155";
                color: #388e3c;
            }
        }
    }

    .rating-cancel {
        display: inline-block;
        width: 22px;
        color: rgba(0,0,0,0);
        color: transparent;
        text-decoration: none;
        a {
            color: rgba(0,0,0,0);
            color: transparent;
            text-decoration: none;
            &:before {
                font-family: dashicons;
                font-size: 20px;
                color: #e53935;
                content: "\f158";
            }
        }
    }
}
