.recipe-wrapper {
    .recipe-flex-wrapper {
        display: flex;
        .ingredients-wrapper {
            border-right: 1px solid #dedede;
            border-right: 1px solid rgba(0,0,0,.2);
            padding-right: 1em;
            min-width: 250px;
            font-size: 13px;
            .quantity {
                margin-right: .5em;
                font-weight: 700;
                .unit {
                    margin-left: .5em;
                    font-weight: normal;
                }
            }
            .units-switch {
                display: flex;
                justify-content: center;
                a {
                    padding: .2em .5em;
                    background: #dedede;
                    border-right: 1px solid transparent;
                    text-decoration: none;
                    font-size: .75em;
                    min-width: 33.33%;
                    text-align: center;
                }
                &.metric .metric,
                &.imperial .imperial,
                &.us .us {
                    background: #555;
                    color: #fff;
                }
            }
        }
        .execution {
            margin-left: 1em;
        }
    }
    .recipe-info {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: .75em;
        background-color: #f2f2f2;
        margin-bottom: 1em;
        .servings,
        .calories,
        .prep_time {
            padding: 1em;
            .value {
                font-size: 2em;
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}
