.recipes.general-info.fields-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipes.servings-wrapper,
.recipes.preparation_time_wrapper,
.recipes.cook_time_wrapper {
  width: 33.3333%;
}

.recipes.description_wrapper {
  width: 100%;
}

.recipes.servings-wrapper label,
.recipes.preparation_time_wrapper label,
.recipes.cook_time_wrapper label,
.recipes.description_wrapper label {
  display: block;
  font-weight: bold;
}

.recipes.servings-wrapper input,
.recipes.preparation_time_wrapper input,
.recipes.cook_time_wrapper input {
  width: 90%;
}

.recipes.description_wrapper textarea {
  width: 100%;
  min-height: 150px;
}

.recipe-ingredients-list input {
  margin-bottom: 10px;
  width: 100%;
}

.ingredients-description {
  padding: 1rem 0;
}
