.recipe-wrapper .recipe-flex-wrapper {
  display: flex; }
  .recipe-wrapper .recipe-flex-wrapper .ingredients-wrapper {
    border-right: 1px solid #dedede;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 1em;
    min-width: 175px;
    font-size: .85em; }
    .recipe-wrapper .recipe-flex-wrapper .ingredients-wrapper .quantity {
      margin-right: 1em;
      font-weight: 700; }
      .recipe-wrapper .recipe-flex-wrapper .ingredients-wrapper .quantity .unit {
        margin-left: .5em;
        font-weight: normal; }
  .recipe-wrapper .recipe-flex-wrapper .execution {
    margin-left: 1em; }
.recipe-wrapper .recipe-info {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: .75em;
  background-color: #f2f2f2;
  margin-bottom: 1em; }
  .recipe-wrapper .recipe-info .servings,
  .recipe-wrapper .recipe-info .calories,
  .recipe-wrapper .recipe-info .prep_time {
    padding: 1em; }
    .recipe-wrapper .recipe-info .servings .value,
    .recipe-wrapper .recipe-info .calories .value,
    .recipe-wrapper .recipe-info .prep_time .value {
      font-size: 2em;
      display: block;
      width: 100%;
      text-align: center; }
